/* App.css */
.form-container {
  display: none;
  transition: all 0.3s ease;
}

.form-container.show {
  display: block;
}

.auth-container {
  display: flex;
  justify-content: space-between;
}

.toggle-button {
  background: #ff5722;
}
.custom-select {
  margin-top: 20px;
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  border: 1px solid #666; /* Border color */
  padding: 8px; /* Padding */
  border-radius: 5px; /* Border radius */
  margin-right: 30px;
 
}

.custom-select option {
  margin-top: 20px;
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding-top: 4px;
  padding: 4px;
}

/* Hover effect */
.custom-select:hover,
.custom-select:focus {
  border-color: #aaa; /* Border color on hover/focus */
}

/* Styling the arrow */
.custom-select::-ms-expand {
  display: none; /* Hide arrow in IE10 and above */
}
.custom-select::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styling the scrollbar track */
.custom-select::-webkit-scrollbar-track {
  background: #444; /* Track color */
  border-radius: 5px; /* Border radius */
}

/* Styling the scrollbar handle */
.custom-select::-webkit-scrollbar-thumb {
  background: #666; /* Handle color */
  border-radius: 5px; /* Border radius */
}

.select-description {
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between description text and select element */
  color: #ccc; /* Description text color */
}
.custom-select + .custom-select {
  margin-top: 10px; /* Adjust the spacing between two selects */
}

@media screen and (min-width: 768px) {
  .custom-select-container {
    flex-direction: 'row';
  }
  .custom-select-container .select-description {
    margin-right: 10px;
  }
  .custom-select-container .custom-select {
    margin-right: 10px;
  }
}